In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd

In [3]:
train=pd.read_csv("Atrain.csv")
test=pd.read_csv("Atest.csv")

In [4]:
train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4.0,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2.0,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2.0,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5.0,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3.0,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [5]:
test.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [6]:
train.columns.values
test.columns.values

array(['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance',
       'Inflight wifi service', 'Departure/Arrival time convenient',
       'Ease of Online booking', 'Gate location', 'Food and drink',
       'Online boarding', 'Seat comfort', 'Inflight entertainment',
       'On-board service', 'Leg room service', 'Baggage handling',
       'Checkin service', 'Inflight service', 'Cleanliness',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'], dtype=object)

In [7]:
train.shape

(103904, 25)

In [8]:
test.shape

(25976, 25)

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
Unnamed: 0                           103904 non-null int64
id                                   103904 non-null int64
Gender                               103904 non-null object
Customer Type                        103904 non-null object
Age                                  103904 non-null int64
Type of Travel                       103904 non-null object
Class                                103904 non-null object
Flight Distance                      103904 non-null int64
Inflight wifi service                103904 non-null int64
Departure/Arrival time convenient    103901 non-null float64
Ease of Online booking               103904 non-null int64
Gate location                        103904 non-null int64
Food and drink                       103904 non-null int64
Online boarding                      103904 non-null int64
Seat comfort                         103904 non-null int64
Inflight entertainment               103904 non-null int64
On-board service                     103904 non-null int64
Leg room service                     103904 non-null int64
Baggage handling                     103904 non-null int64
Checkin service                      103904 non-null int64
Inflight service                     103904 non-null int64
Cleanliness                          103904 non-null int64
Departure Delay in Minutes           103904 non-null int64
Arrival Delay in Minutes             103594 non-null float64
satisfaction                         103904 non-null object
dtypes: float64(2), int64(18), object(5)
memory usage: 19.8+ MB

In [10]:
train.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
test.drop(['Unnamed: 0'], axis=1, inplace=True)

In [12]:
train.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4.0,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2.0,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2.0,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5.0,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3.0,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [13]:
train = train.sample(frac=0.1, replace=False, random_state=1)

In [14]:
train.shape

(10390, 24)

In [15]:
test = test.sample(frac=0.1, replace=False, random_state=1)

In [16]:
test.shape

(2598, 24)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10390 entries, 65830 to 102919
Data columns (total 24 columns):
id                                   10390 non-null int64
Gender                               10390 non-null object
Customer Type                        10390 non-null object
Age                                  10390 non-null int64
Type of Travel                       10390 non-null object
Class                                10390 non-null object
Flight Distance                      10390 non-null int64
Inflight wifi service                10390 non-null int64
Departure/Arrival time convenient    10389 non-null float64
Ease of Online booking               10390 non-null int64
Gate location                        10390 non-null int64
Food and drink                       10390 non-null int64
Online boarding                      10390 non-null int64
Seat comfort                         10390 non-null int64
Inflight entertainment               10390 non-null int64
On-board service                     10390 non-null int64
Leg room service                     10390 non-null int64
Baggage handling                     10390 non-null int64
Checkin service                      10390 non-null int64
Inflight service                     10390 non-null int64
Cleanliness                          10390 non-null int64
Departure Delay in Minutes           10390 non-null int64
Arrival Delay in Minutes             10359 non-null float64
satisfaction                         10390 non-null object
dtypes: float64(2), int64(17), object(5)
memory usage: 2.0+ MB

In [18]:
train['Arrival Delay in Minutes']=train['Arrival Delay in Minutes'].fillna(train['Arrival Delay in Minutes'].mean())
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10390 entries, 65830 to 102919
Data columns (total 24 columns):
id                                   10390 non-null int64
Gender                               10390 non-null object
Customer Type                        10390 non-null object
Age                                  10390 non-null int64
Type of Travel                       10390 non-null object
Class                                10390 non-null object
Flight Distance                      10390 non-null int64
Inflight wifi service                10390 non-null int64
Departure/Arrival time convenient    10389 non-null float64
Ease of Online booking               10390 non-null int64
Gate location                        10390 non-null int64
Food and drink                       10390 non-null int64
Online boarding                      10390 non-null int64
Seat comfort                         10390 non-null int64
Inflight entertainment               10390 non-null int64
On-board service                     10390 non-null int64
Leg room service                     10390 non-null int64
Baggage handling                     10390 non-null int64
Checkin service                      10390 non-null int64
Inflight service                     10390 non-null int64
Cleanliness                          10390 non-null int64
Departure Delay in Minutes           10390 non-null int64
Arrival Delay in Minutes             10390 non-null float64
satisfaction                         10390 non-null object
dtypes: float64(2), int64(17), object(5)
memory usage: 2.0+ MB

In [19]:
train['Departure/Arrival time convenient'].replace(' ', np.nan)
train['Departure/Arrival time convenient']=train['Departure/Arrival time convenient'].fillna(train['Departure/Arrival time convenient'].mean())
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10390 entries, 65830 to 102919
Data columns (total 24 columns):
id                                   10390 non-null int64
Gender                               10390 non-null object
Customer Type                        10390 non-null object
Age                                  10390 non-null int64
Type of Travel                       10390 non-null object
Class                                10390 non-null object
Flight Distance                      10390 non-null int64
Inflight wifi service                10390 non-null int64
Departure/Arrival time convenient    10390 non-null float64
Ease of Online booking               10390 non-null int64
Gate location                        10390 non-null int64
Food and drink                       10390 non-null int64
Online boarding                      10390 non-null int64
Seat comfort                         10390 non-null int64
Inflight entertainment               10390 non-null int64
On-board service                     10390 non-null int64
Leg room service                     10390 non-null int64
Baggage handling                     10390 non-null int64
Checkin service                      10390 non-null int64
Inflight service                     10390 non-null int64
Cleanliness                          10390 non-null int64
Departure Delay in Minutes           10390 non-null int64
Arrival Delay in Minutes             10390 non-null float64
satisfaction                         10390 non-null object
dtypes: float64(2), int64(17), object(5)
memory usage: 2.0+ MB

In [20]:
test['Arrival Delay in Minutes']= test['Arrival Delay in Minutes'].fillna(test['Arrival Delay in Minutes'].mean())

In [21]:
train.describe(include=['O'])

,Gender,Customer Type,Type of Travel,Class,satisfaction
count,10390,10390,10390,10390,10390
unique,2,2,2,3,2
top,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
freq,5285,8533,7152,5032,5974

In [22]:
train[train['Gender']=='Female'].count()

id                                   5285
Gender                               5285
Customer Type                        5285
Age                                  5285
Type of Travel                       5285
Class                                5285
Flight Distance                      5285
Inflight wifi service                5285
Departure/Arrival time convenient    5285
Ease of Online booking               5285
Gate location                        5285
Food and drink                       5285
Online boarding                      5285
Seat comfort                         5285
Inflight entertainment               5285
On-board service                     5285
Leg room service                     5285
Baggage handling                     5285
Checkin service                      5285
Inflight service                     5285
Cleanliness                          5285
Departure Delay in Minutes           5285
Arrival Delay in Minutes             5285
satisfaction                         5285
dtype: int64

In [23]:
train['Gender']=train['Gender'].map({'Female': 1, 'Male': 0}).astype(int)

test['Gender']=test['Gender'].map({'Female': 1, 'Male': 0}).astype(int)

In [24]:
print(train['Customer Type'].unique())
train[train['Customer Type']=='Loyal Customer'].count()
train['Customer Type']=train['Customer Type'].map({'Loyal Customer':1,'disloyal Customer':0})

print(test['Customer Type'].unique())
test[test['Customer Type']=='Loyal Customer'].count()
test['Customer Type']=test['Customer Type'].map({'Loyal Customer':1,'disloyal Customer':0})

['Loyal Customer' 'disloyal Customer']
['Loyal Customer' 'disloyal Customer']

In [25]:
print(train['Type of Travel'].unique())
train[train['Type of Travel']=='Personal Travel'].count()
train['Type of Travel']=train['Type of Travel'].map({'Business travel':1,'Personal Travel':0})

test['Type of Travel']=test['Type of Travel'].map({'Business travel':1,'Personal Travel':0})

['Business travel' 'Personal Travel']

In [26]:
train['Class'].unique()
F= pd.get_dummies(train['Class'])
train= pd.concat([train,F], axis=1)
train.drop('Class', axis=1, inplace=True)
train.head()

,id,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Business,Eco,Eco Plus
65830,23509,0,1,41,1,303,5,3.0,3,3,...,3,5,5,5,0,0.0,satisfied,0,1,0
41026,31011,1,1,18,1,391,1,5.0,5,5,...,3,1,4,1,17,17.0,neutral or dissatisfied,1,0,0
95867,29345,1,1,13,0,569,2,4.0,2,3,...,4,5,5,1,0,0.0,neutral or dissatisfied,0,0,1
75679,50242,0,0,23,1,109,1,0.0,1,1,...,5,3,1,3,0,0.0,neutral or dissatisfied,0,1,0
52958,22244,0,1,23,0,83,4,5.0,0,3,...,4,3,5,5,0,0.0,neutral or dissatisfied,1,0,0

In [27]:
test['Class'].unique()
F= pd.get_dummies(test['Class'])
test= pd.concat([test,F], axis=1)
test.drop('Class', axis=1, inplace=True)
test.head()

,id,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Business,Eco,Eco Plus
21362,55974,1,1,69,0,1620,3,5,3.0,1,...,4,5,4,4,0,0.0,neutral or dissatisfied,0,1,0
11437,77109,0,0,35,1,1481,2,2,2.0,3,...,5,5,4,3,0,0.0,neutral or dissatisfied,1,0,0
11025,107163,0,1,39,1,402,5,5,5.0,5,...,5,4,5,3,3,1.0,satisfied,1,0,0
14165,67017,1,0,29,1,985,2,2,2.0,2,...,4,3,5,4,29,20.0,neutral or dissatisfied,1,0,0
16249,47670,1,0,27,1,1211,2,2,2.0,3,...,3,1,4,2,0,0.0,neutral or dissatisfied,0,1,0

In [28]:
train[train['satisfaction']=='neutral or dissatisfied'].count()
train['satisfaction']=train['satisfaction'].map({'neutral or dissatisfied':1, 'satisfied':0})
test['satisfaction']=test['satisfaction'].map({'neutral or dissatisfied':1, 'satisfied':0})

In [29]:
train.drop('id', axis=1, inplace=True)
test.drop('id', axis=1, inplace=True)

In [30]:
test.head()
#train.head()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Business,Eco,Eco Plus
21362,1,1,69,0,1620,3,5,3.0,1,2,...,4,5,4,4,0,0.0,1,0,1,0
11437,0,0,35,1,1481,2,2,2.0,3,3,...,5,5,4,3,0,0.0,1,1,0,0
11025,0,1,39,1,402,5,5,5.0,5,5,...,5,4,5,3,3,1.0,0,1,0,0
14165,1,0,29,1,985,2,2,2.0,2,4,...,4,3,5,4,29,20.0,1,1,0,0
16249,1,0,27,1,1211,2,2,2.0,3,2,...,3,1,4,2,0,0.0,1,0,1,0

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2598 entries, 21362 to 15454
Data columns (total 25 columns):
Gender                               2598 non-null int32
Customer Type                        2598 non-null int64
Age                                  2598 non-null int64
Type of Travel                       2598 non-null int64
Flight Distance                      2598 non-null int64
Inflight wifi service                2598 non-null int64
Departure/Arrival time convenient    2598 non-null int64
Ease of Online booking               2598 non-null float64
Gate location                        2598 non-null int64
Food and drink                       2598 non-null int64
Online boarding                      2598 non-null int64
Seat comfort                         2598 non-null int64
Inflight entertainment               2598 non-null int64
On-board service                     2598 non-null int64
Leg room service                     2598 non-null int64
Baggage handling                     2598 non-null int64
Checkin service                      2598 non-null int64
Inflight service                     2598 non-null int64
Cleanliness                          2598 non-null int64
Departure Delay in Minutes           2598 non-null int64
Arrival Delay in Minutes             2598 non-null float64
satisfaction                         2598 non-null int64
Business                             2598 non-null uint8
Eco                                  2598 non-null uint8
Eco Plus                             2598 non-null uint8
dtypes: float64(2), int32(1), int64(19), uint8(3)
memory usage: 464.3 KB

In [32]:
df=pd.concat([train, test])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12988 entries, 65830 to 15454
Data columns (total 25 columns):
Gender                               12988 non-null int32
Customer Type                        12988 non-null int64
Age                                  12988 non-null int64
Type of Travel                       12988 non-null int64
Flight Distance                      12988 non-null int64
Inflight wifi service                12988 non-null int64
Departure/Arrival time convenient    12988 non-null float64
Ease of Online booking               12988 non-null float64
Gate location                        12988 non-null int64
Food and drink                       12988 non-null int64
Online boarding                      12988 non-null int64
Seat comfort                         12988 non-null int64
Inflight entertainment               12988 non-null int64
On-board service                     12988 non-null int64
Leg room service                     12988 non-null int64
Baggage handling                     12988 non-null int64
Checkin service                      12988 non-null int64
Inflight service                     12988 non-null int64
Cleanliness                          12988 non-null int64
Departure Delay in Minutes           12988 non-null int64
Arrival Delay in Minutes             12988 non-null float64
satisfaction                         12988 non-null int64
Business                             12988 non-null uint8
Eco                                  12988 non-null uint8
Eco Plus                             12988 non-null uint8
dtypes: float64(3), int32(1), int64(18), uint8(3)
memory usage: 2.3 MB

In [34]:
df.head()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Business,Eco,Eco Plus
65830,0,1,41,1,303,5,3.0,3.0,3,5,...,3,5,5,5,0,0.0,0,0,1,0
41026,1,1,18,1,391,1,5.0,5.0,5,1,...,3,1,4,1,17,17.0,1,1,0,0
95867,1,1,13,0,569,2,4.0,2.0,3,1,...,4,5,5,1,0,0.0,1,0,0,1
75679,0,0,23,1,109,1,0.0,1.0,1,3,...,5,3,1,3,0,0.0,1,0,1,0
52958,0,1,23,0,83,4,5.0,0.0,3,5,...,4,3,5,5,0,0.0,1,1,0,0

In [35]:
df.describe()

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Business,Eco,Eco Plus
count,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,...,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000,12988.000000
mean,0.510548,0.820681,39.523791,0.688790,1179.206883,2.721897,3.057519,2.760625,2.973206,3.187789,...,3.607946,3.291038,3.622267,3.276178,15.079535,15.586805,0.573837,0.483985,0.443948,0.072067
std,0.499908,0.383634,15.275937,0.463006,991.970497,1.310309,1.518299,1.391678,1.278699,1.320538,...,1.192868,1.272215,1.178686,1.307981,38.671016,39.206658,0.494537,0.499763,0.496867,0.258608
min,0.000000,0.000000,7.000000,0.000000,56.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,27.000000,0.000000,410.750000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,40.000000,1.000000,834.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,51.000000,1.000000,1726.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,1.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,85.000000,1.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,729.000000,717.000000,1.000000,1.000000,1.000000,1.000000

In [36]:
y= pd.DataFrame(df['satisfaction'])
df.drop('satisfaction', axis=1, inplace=True)

In [37]:
X=pd.DataFrame(df)

##### We will be using MinMaxScaler as the values in the dataset are mostly binary values, i.e. in the form of 0 & 1. We need higher values to be scaled with these binary values in between 0 & 1 and so we are using MinMaxScaler.

In [38]:
#preprocessing steps: spliting the dataset
#scaling train and test datasets
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler

X_train_org, X_test_org, y_train, y_test = train_test_split(X, y, random_state =0)

scaler = MinMaxScaler() 
X_train = scaler.fit_transform(X_train_org)
X_test = scaler.transform(X_test_org)

###### For this dataset we are going to predict customer satisfaction for airlines. A good evaluation strategy would be to eliminate all the unnesccasary columns and apply classification model on the cleaned data set. We have dropped id, Unnamed columns and have preprocessed other coulumns as needed.

# Linear SVC

In [39]:
param_grid = {}

In [40]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import LinearSVC
grid_search = GridSearchCV(LinearSVC(), param_grid, cv=5, return_train_score=True)

In [41]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=LinearSVC(C=1.0, class_weight=None, dual=True,
                                 fit_intercept=True, intercept_scaling=1,
                                 loss='squared_hinge', max_iter=1000,
                                 multi_class='ovr', penalty='l2',
                                 random_state=None, tol=0.0001, verbose=0),
             iid='deprecated', n_jobs=None, param_grid={},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=0)

In [42]:
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_search.best_score_))
#Best cross-validation score: 0.87

Best parameters: {}
Best cross-validation score: 0.87

# SVC rbf, linear Kernel

In [43]:
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100],
              'gamma': [0.001, 0.01, 0.1, 1, 10, 100],'kernel':('linear', 'rbf','poly')}

In [44]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
grid_search = GridSearchCV(SVC(), param_grid, cv=5, return_train_score=True)

grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'gamma': [0.001, 0.01, 0.1, 1, 10, 100],
                         'kernel': ('linear', 'rbf', 'poly')},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
             scoring=None, verbose=0)

In [45]:
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_search.best_score_))

Best parameters: {'C': 100, 'gamma': 0.1, 'kernel': 'rbf'}
Best cross-validation score: 0.95

# Final Result: 
###### Kernelized Support Vector Machine with 'rbf' kernel gives the best result with 95% accuracy when C: 100 and gamma: 0.1

# Logistic Regression with Grid Search

In [46]:
from sklearn.linear_model import LogisticRegression
param_grid = {'C':[1, 10, 25, 50, 75, 100]}

grid1 = GridSearchCV(LogisticRegression(multi_class = 'auto', solver = 'lbfgs', max_iter = 5000), 
                     param_grid, cv =7 , return_train_score= True, iid = False)
grid1.fit(X_train, y_train)
print(grid1.best_params_)
print(grid1.best_score_)
print(grid1.scorer_)

#Best parameter is 'C'=1 with score of 0.87

{'C': 1}
0.8752680408537643
<function _passthrough_scorer at 0x000002668CB62318>

# Decision tree Classifier with Grid search

In [47]:
from sklearn.tree import DecisionTreeClassifier

param_grid = {'max_depth':[1, 2, 3, 5, 10, 15]}

grid3 = GridSearchCV(DecisionTreeClassifier(random_state = 0), param_grid, cv = 5, 
                    return_train_score= True, iid = False)
grid3.fit(X_train, y_train)
print(grid3.best_params_)
print(grid3.best_score_)
print(grid3.scorer_)

#Best Score is 0.92937 with max depth as 10.

{'max_depth': 10}
0.9293710353227
<function _passthrough_scorer at 0x000002668CB62318>

# KNN

In [48]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

param_grid = {'n_neighbors':[3, 5, 9, 15]}

grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, return_train_score=True)

grid_search.fit(X_train, y_train)

print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.2f}".format(grid_search.best_score_))

#Best parameters: {'n_neighbors': 5}
#Best cross-validation score: 0.91

Best parameters: {'n_neighbors': 5}
Best cross-validation score: 0.91